@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  max-width: 78.125rem;
  margin: auto;
  padding: 0rem 2rem;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 0.625rem 0;
  background: #1b1b1b;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: all 0.3 ease;
}

.menu-list li a:hover {
  color: cyan;
}

.banner {
  height: 100vh;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  padding: 2.5rem 0;
}

.about .title {
  font-size: 2.2rem;
  font-weight: 700;
}

.about p {
  padding-top: 1.25rem;
  text-align: justify;
}

.icon {
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
}

@media (min-width: 54.25rem) {
  .icon {
    display: block;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 25rem;
    background: #222;
    display: block;
    padding: 2.5rem 0;
    text-align: center;
  }
  .navbar .menu-list li {
    margin-top: 2.8rem;
  }
  .navbar .menu-list li a {
    font-size: 1.438rem;
  }
}
